body {
    color: blue;
    font-size: 30pt;
}

p {
    font-size: 20pt;
}

/* Co drugi element (nieparzyste) - kolor niebieski */
p:nth-child(odd) {
    color: blue;
}

/* Co drugi element (parzyste) - kolor zielony */
p:nth-child(even) {
    color: green;
}